
.toptext {
  height: 200px;
  width: 1300px;
  margin-top: 100px;
  color: #ccc;
  font-size: 18px;
  font-family: 'Helvetica',sans-serif; 
  font-weight: 200;
}

.vertical {
  position: absolute; 
  transform: rotate(-90deg); 
  width: 230px; 
  text-align: right;
  top: 200px;
}

.bottom1 {
  margin: 4px;
  font-size: 15px;
  font-family: 'Helvetica',sans-serif; 
  font-weight: 200;
  color: #ffffff;

/*  text-shadow: -1px 0 #aaa, 0 1px #aaa, 1px 0 #aaa, 0 -1px #aaa; 
*/}

.bottom2, a {
  text-decoration: none;
  margin: 4px;
  font-size: 18px;
  font-family: 'Helvetica',sans-serif; 
  font-weight: bold;
  color: #90311A;
/*  text-shadow: -1px 0 #aaa, 0 1px #aaa, 1px 0 #aaa, 0 -1px #aaa; 
*/}

a:hover {
  text-decoration: underline;
}

